.text-content-identifier-page {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.container-main {
    width: 70%;
    padding-bottom: 30px;
}

.action-icons {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}