<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto Elétrica Cebola</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/menuStyle.css" th:href="@{/css/menuStyle.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/cadastroCliente.css" th:href="@{/css/cadastroCliente.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/consultaCliente.css" th:href="@{/css/consultaCliente.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/cadastroServico.css" th:href="@{/css/cadastroServico.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/servico.css" th:href="@{/css/servico.css}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cliente/cliente.js}"></script>
    <script type="text/javascript" th:src="@{/js/veiculo/veiculo.js}"></script>
    <script type="text/javascript" th:src="@{/js/servico/servico.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid container-navbar-menu">
        <a class="navbar-brand" href="#"><img th:src="@{/img/Avatar.png}" src="../static/img/Avatar.png" alt="" class="d-inline-block align-text-top img-icon-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{~/menu}">Página Principal</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuClientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuClientes">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar cliente</a></li>
                        <li><a class="dropdown-item" th:href="@{~/consultaClientes}">Consultar clientes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="dropDownMenuVeiculos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Veículos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuClientes">
                        <li><a class="dropdown-item" th:href="@{~/cadastrarVeiculo}">Cadastrar veículo</a></li>
                        <li><a class="dropdown-item" th:href="@{~/consultarVeiculos}">Consultar veículos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="dropDownMenuServicos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Serviços
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuServicos">
                        <li><a class="dropdown-item" th:href="@{~/cadastrarServico}">Registrar novo serviço</a></li>
                        <li><a class="dropdown-item" th:href="@{~/consultarServicos}">Consultar serviços</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuPecas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Peças
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuPecas">
                        <li><a class="dropdown-item" th:href="@{~/cadastrarPeca}">Cadastrar uma peça do estoque</a></li>
                        <li><a class="dropdown-item" th:href="@{~/consultarPecas}">Consultar peças</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuMecanico" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mecânico
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuMecanico">
                        <li><a class="dropdown-item" th:href="@{~/cadastrarMecanico}">Cadastrar Mecânico</a></li>
                        <li><a class="dropdown-item" th:href="@{~/consultarMecanicos}">Consultar Mecânicos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuAdministracao" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administração
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropDownMenuAdministracao">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-outline-light">Sair</button>
    </div>
</nav>
<h6 class="text-content-identifier-page">Consultar um serviço</h6>
<section>
    <div class="container container-car-service">
        <div class="card shadow-sm bg-white rounded div-cliente" style="margin-top: 20px;">
            <div class="card-body">
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem;">
                    Serviço aberto em <span th:text="${servico.aberturaServico}"></span>
                </p>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem;">
                    Status atual do serviço: <span th:text="${servico.statusAtualServico}"></span>
                </p>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem;">
                    <span th:if="${servico.encerramentoServico != null}" th:text="'Serviço finalizado em ' + ${servico.encerramentoServico}"></span>
                </p>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem; margin-bottom: 30px;">
                    <span th:text="${servico.encerramentoServico} ? 'Valor final do serviço: R$' + ${servico.valorFinalServico} : 'Valor parcial do serviço: R$' + ${servico.valorFinalServico} "></span>
                </p>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem;">
                    <span th:if="${servico.notaServico != null}" th:text="'Nota atribuída ao serviço ' + ${servico.notaServico.notaServico}"></span>
                </p>

                <a href="#" class="carname-link"><h5 class="card-title"><span th:text="${servico.veiculo.modeloVeiculo}"></span></h5></a>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem;">
                    Cliente: <b><span th:text="${servico.cliente.nomeCliente}"></span></b>
                </p>
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.75rem;">
                    Placa: <b><span th:text="${servico.veiculo.placaVeiculo}"></span></b>
                </p>
                <div class="div-tels">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.75rem;">Telefones</p>
                    <div th:each="telCliente : ${servico.cliente.telefoneCliente}">
                        <b><span th:text="${telCliente.numeroTelefoneCliente}" class="card-subtitle mb-2 text-muted" style="font-size: 0.70rem;"></span></b>
                    </div>
                </div>
            </div>

            <form method="post" id="form-consultar-servico" th:attr="name=${servico.idServico}">
                <div>
                    <label><h5 class="modal-title titles-cadastro">Serviços solicitados/problemas relatados</h5></label>
                    <div class="col-8 list-group-servicos-solicitados">
                        <ul class="list-group list-group-flush" id="list-descricoes-servicos">
                            <li class="list-group-item" th:each="descricaoServico, userStat : ${servico.descricaoServico}" th:attr="id='descServico'+${userStat.index}">
                                <div class="d-flex justify-content-between">
                                    <div class="col-md-8 flex-grow-1">
                                        <h6 class="descricoes-servicos-values text-muted items-search-service" ><span th:text="${descricaoServico.descricaoDoServico}"></span></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <label><h5 class="modal-title titles-cadastro">Descrição de mão de obra</h5></label>
                    <div class="col-8 list-group-servicos-solicitados">
                        <ul class="list-group list-group-flush" id="list-descricoes-mao-de-obra">
                            <li class="list-group-item" th:each="maoDeObraServico, userStat : ${servico.maoDeObraServico}" th:attr="id='maoDeObra'+${userStat.index}">
                                <div class="d-flex justify-content-between">
                                    <div class="col-md-8 flex-grow-1">
                                        <h6 class="maosdeobra-servicos-values text-muted items-search-service" style="text-decoration: none"><span th:attr="id='textoMaoObra'+${userStat.index}" th:text="${maoDeObraServico.descricaoMaoDeObraServico} + ' - R$' + ${maoDeObraServico.valorMaoDeObraServico} + ' (único). Garantia de ' + ${maoDeObraServico.tempoGarantiaMaoDeObraServico} + '. Realizado por: ' + ${maoDeObraServico.mecanico.idMecanico} + ' - ' + ${maoDeObraServico.mecanico.nomeMecanico}"></span></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <label><h5 class="modal-title titles-cadastro">Peças</h5></label>
                    <div class="col-8 list-group-servicos-solicitados">
                        <ul class="list-group list-group-flush" id="list-descricoes-pecas">
                            <li class="list-group-item"  th:each="pecaServico, userStat : ${servico.pecasServico}" th:attr="id='peca'+${userStat.index}">
                                <div class="d-flex justify-content-between">
                                    <div class="col-md-8 flex-grow-1">
                                        <h6 class="pecas-servicos-values text-muted items-search-service"><span th:attr="id='textoPeca'+${userStat.index}" th:text="${pecaServico.nomePecaEstoque} + ' - R$' + ${pecaServico.valorPeca} + ' (único). Garantia de ' + ${pecaServico.tempoGarantiaPecaServico} + '. Quantidade ' + ${pecaServico.quantidadePecaServico}"></span></h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <a th:href="@{~/menu}"><button type="button" class="btn btn-secondary">Voltar</button></a>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>