<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auto Elétrica Cebola</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/menuStyle.css" th:href="@{/css/menuStyle.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/cadastroCliente.css" th:href="@{/css/cadastroCliente.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cliente/cliente.js}"></script>
<!--    <script type="text/javascript" th:src="@{/js/veiculo/veiculo.js}"></script>-->

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid container-navbar-menu">
            <a class="navbar-brand" href="#"><img th:src="@{/img/Avatar.png}" src="../static/img/Avatar.png" alt="" class="d-inline-block align-text-top img-icon-logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{menu}">Página Principal</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuClientes" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clientes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuClientes">
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar cliente</a></li>
                            <li><a class="dropdown-item" th:href="@{consultaClientes}">Consultar clientes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="dropDownMenuVeiculos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Veículos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuClientes">
                            <li><a class="dropdown-item" th:href="@{cadastrarVeiculo}">Cadastrar veículo</a></li>
                            <li><a class="dropdown-item" href="#">Consultar veículos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuServicos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Serviços
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuServicos">
                            <li><a class="dropdown-item" th:href="@{cadastrarServico}">Registrar novo serviço</a></li>
                            <li><a class="dropdown-item" href="#">Finalizar serviço</a></li>
                            <li><a class="dropdown-item" href="#">Consultar serviços</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropDownMenuAdministracao" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administração
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropDownMenuAdministracao">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-outline-light">Sair</button>
        </div>
    </nav>
    <h6 class="text-num-services">Serviços em andamento: <span class="badge bg-primary badge-num-services" th:text="${quantidadeServicos}"> </span></h6>
    <section>
        <div class="container container-car-service">
            <div class="card shadow-sm bg-white rounded div-cliente" style="margin-top: 20px;" th:each="servico : ${servicos}">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                        Serviço aberto em <span th:text="${servico.aberturaServico}"></span>
                    </p>
                    <!--Esse CBC são as iniciais em camel case do controller - CodeBlogController-->
                    <!--th:href="${(#mvc.url('CBC#getPostDetails').arg(0, post.id)).build()}"-->
                    <a href="#" class="carname-link"><h5 class="card-title"><span th:text="${servico.veiculo.modeloVeiculo}"></span></h5></a>
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.9rem;">
                        Cliente: <b><span th:text="${servico.cliente.nomeCliente}"></span></b>
                    </p>
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.75rem;">
                        Placa: <b><span th:text="${servico.veiculo.placaVeiculo}"></span></b>
                    </p>
                    <div class="div-tels">
                        <p class="card-subtitle mb-2 text-muted" style="font-size: 0.75rem;">Telefones</p>
                        <div th:each="telCliente : ${servico.cliente.telefoneCliente}">
                            <b><span th:text="${telCliente.numeroTelefoneCliente}" class="card-subtitle mb-2 text-muted" style="font-size: 0.70rem;"></span></b>
                        </div>
                    </div>
                    <!--                <p class="card-text"><span th:utext="${#strings.abbreviate(post.texto,400)} "></span></p>-->
                </div>
                <div class="d-grid gap-2 d-md-block btn-group-actions">
                    <button type="button" class="btn btn-primary btn-sm">Ver mais detalhes</button>
                    <button type="button" class="btn btn-primary btn-sm">Finalizar serviço</button>
                    <button type="button" class="btn btn-primary btn-sm">Editar serviço</button>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOnes">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#accordion'+${servico.idServico}" aria-expanded="true">
                                Ver serviços solicitados
                            </button>
                        </h2>
                        <div th:attr="id='accordion'+${servico.idServico}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div th:each="descricaoServico : ${servico.descricaoServico}">
                                    <span th:text="${descricaoServico.descricaoDoServico}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Esse modal representa a tela de cadastro de cliente que é chamada dentro do menu-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div th:replace="/modal/cadastro_cliente::modalCadastrarCliente"></div>
    </div>
</body>
</html>